@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    outline: 0;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: gray;
}

.loginBox{
   	background-color: rgb(243, 243, 243);
    text-align: center;
    position: absolute;
    left: calc(48% - 175px);
    top: calc(40% - 150px);
}

#basic_login{

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background-color: rgb(243, 243, 243);

}

#login_text{
	background-color: white;
    padding-top: 10px;
    height: 45px;
}

#email_info {
    margin-top: 25px;
    padding-left: 40px;
  
}

#password_info {
    margin-top: 15px;
    padding-left: 40px;
    
}

#user_email{
    height: 50px;
    width: 265px;
    font-size: 15px;
    padding-left: 15px;
    border: 0.5px solid rgb(225, 225, 225)
  
}

#user_password {
    height: 50px;
    width: 265px;
    font-size: 15px;
    padding-left: 15px;
    border: 0.5px solid rgb(225, 225, 225)
}

.login_info{
    display: grid;
    color: black;
    font-size: 20px;
}


#login_loginbtn{
    background-color: rgb(255, 109, 0);
    color: white;
    margin-top: 15px;
    width: 265px;
    height: 50px;
    border: 0;
    border-radius: 4px 4px 4px 4px

}

#login_loginbtn:hover{
    cursor: pointer;
}

#search_box{
    margin-top: 20px;
}

.search_text {
    color: gray;
    
}

#login_warning {
    color: rgb(255, 109, 0);
    font-size: 15px;
    padding-top: 5px;
}

#membership {
    margin-top: 20px;
}

input:focus {
    outline: 2px solid black;
}