@import url('https://fonts.googleapis.com/css2?family=Jua&family=Cute+Font&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body {
/* 	height: 100vh; */
    overflow-x: hidden; 
}

hr{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
}
.notice_background{
    background-image: url(../files/back4.jpg);
    background-size: cover;
	height: 100vh;
	width: 100vw;
}
.notice_container{
	position: absolute;
	left: 0;
	top: 80px;
	width: 94vw;
    margin-left: 3vw;
	height: calc(100vh - 100px);
	font-family: 'Jua', sans-serif;
}

.notice_container > :first-child{
	font-size: 25px;
/* 	margin-left: 15px; */
    color: blanchedalmond;
/* 	border-bottom: 3px solid orangered; */
}
.notice_container > :nth-child(2){
/* 	margin-left: 15px; */
	margin-top : 15px
}
.notice_searchText{
	width: 250px;
	height: 30px;
}
.notice_searchBtn{
	width: 50px;
	height: 30px;
}

td{
	background-color: white;	
}

tr {
  text-align: center;
}

#notice_table:hover tbody tr:hover td {
    background-color: rgba(240, 240, 240, 0.3);
    cursor: pointer;
    text-decoration: underline;
}


table {
	border-bottom: 1px solid gray;
}


.qna_head {
  background-color: rgb(255, 124, 62);
}


.notice_paging{
    margin: auto;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.notice_paging > span{
    text-align: center;
    line-height: 210%;
    margin-left: 3px;
	border: rgb(209, 209, 209) solid 1px;
    background-color: white;
    color: black;
    border-radius: 20%;
    width: 25px;
    height: 30px;
}
.notice_paging > span:hover{
	background-color: white;
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
}

.notice_bottomBox{
    border: 1px solid silver;
    background-color: #e6e6e6;
    width: 400px;
    height: 100px;

    display: grid;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    grid-template-rows: 1fr 1fr;
    /* align-content: center; */
    margin: auto;
}

/**********************************************
	팝업콘텐트
**********************************************/
/* .notice_pan{ */
/* 	position: fixed; */
/*     left: 0; */
/*     top: 0; */
/*     z-index: 999; */
/* } */
.notice_Popup{
    
/*     position: fixed; */
    display: none;
    z-index: 1005; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.8);
/*     background-color: gray; */
    justify-content: center;
/*     overflow-x: hidden; */
}

/* .notice_textContainer{ */
/* 	position: absolute; */
/*     left: 10%; */
/*     top: 0; */
/*     width: 80%; */
/*     height: 100vh; */
/*     background-color: white; */
/*     overflow: scroll; */
/*     color: black; */
/*     overflow-x: hidden; */
/*         box-shadow: 0 0 15px rgb(0 0 0 / 50%); */
/* } */

/* .notice_textContainer > div{ */
    
/*     margin-left: 10px; */
/* } */
/* .notice_textContainer > :first-child{ */
/*    margin-top: 10px; */
/*    position: relative; */
/* } */
/* .notice_PopupTitle{ */
    
/*     font-family: 'Jua', sans-serif; */
/*     margin-top: 20px; */
/*     font-size: 40px; */
/* } */
/* .notice_cntBoard{ */
/* 	font-size: 30px; */
/* } */
/* .notice_PopupImg{ */
/* 	background-size: cover; */
/* } */
/* .notice_PopupText{ */
/*     line-height: 30px; */
/*     letter-spacing: 1px; */
/* } */

/* .notice_PopupTop{ */
/*     margin-top: 10px; */
/*     margin-bottom: 10px; */
/*     display: grid; */
/*     grid-template-columns: 130px 70% auto; */
/*     border: solid 1px blueviolet; */
/*     height: 100px; */
/* } */
/* .notice_PopupTop > :first-child{ */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/*     background-image: url(../asset/배경2.jpg); */
/*     background-size: cover; */
/*     border-radius: 10%; */
/*     border: 3px black solid; */
/* } */
/* .notice_PopupTop > :nth-child(2){ */
/*     margin-left: 20px; */
/*     align-items: center; */
/*     display: grid; */
/*     grid-template-rows: 1fr 1fr; */
/*     font-size: 25px; */
/* } */

/* .notice_PopupTop > :nth-child(3){ */
/*     border: 1px solid yellow; */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/* } */

.notice_cancel{
    position: fixed;
    width: 5vw;
    height: 5vw;
    top: 20px;
    right: 2.5vw;
    background-color: #b1b1b1;
    color: #383838;
    opacity: 0.7;
    z-index: 1300;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.notice_cancel>span{
    font-size: 50px;
}

#outlinedIcon{
    z-index: 2000;
    font-size: 50px;
    filter: invert(8%) sepia(95%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);   
}
/************************************************
************************************************/
#board_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
/*     width: 1030px; */
    position: absolute;
    top:0;
    left: 10%;
    width: 80%;
}

.notice_tit{
	width: 100%;
	margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: white;
}

.notice_tit_pan{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}
.sub{
    font-size: 14px;
    color: #999;;
}
h1{
    margin-bottom: 10px;
}

.notice_content{
    width: 90%;
    border-top: 2px solid black;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 20% auto;
    height: 200px;
}
.notice_content>*{
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notice_color{
    background-color: #f7f5f8;
}

.notice_title_text{
    border: 1px solid #f7f5f8;
}

.notice_title_last{
    display: grid;
    grid-template-columns: 30% 20% auto;
}

.notice_title_last{
    padding: 0 0 0 0 ;
}

.notice_title_last>*{
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notice_mainContent{
    margin-top: 10px;
    width: 90%;
    text-align: left;
    line-height: 60px;
    font-size: 13px;
}

/**********************************************
		반응형
**********************************************/
@media (max-width: 730px){
    .notice_PopupTop{
        grid-template-columns: 1fr;
        grid-template-rows: 40% 40% 20%;
        /* border: solid 1px blueviolet; */
        height: 300px;
    }
    .notice_PopupTop > :first-child{
        width: 130px;
    }
    .notice_PopupTop > :nth-child(2){
        margin-top: 15px;
    }
    .notice_PopupTop > :nth-child(3){
        margin-left: 15px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 130px;
        height: 80px;
    }
}