@import url('https://fonts.googleapis.com/css2?family=Jua&family=Cute+Font&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body {
	height: 100vh;
    background-image: url(../files/back4.jpg);
    background-size: cover;
    overflow-x: hidden; 
}

.notice_container{
	position: absolute;
	left: 0;
	top: 80px;
	width: 100vw;
	height: calc(100vh - 100px);
	font-family: 'Jua', sans-serif;
}

.notice_container > :first-child{
	font-size: 25px;
	margin-left: 15px;
    color: blanchedalmond;
/* 	border-bottom: 3px solid orangered; */
}
.notice_container > :nth-child(2){
	margin-left: 15px;
	margin-top : 15px
}
.notice_searchText{
	width: 250px;
}

td{
	background-color: white;	
}

tr {
  text-align: center;
}



table {
	border-bottom: 1px solid gray;
}


.qna_head {
  background-color: skyblue;
}


.notice_paging{
    margin: auto;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.notice_paging > span{
    text-align: center;
    line-height: 210%;
    margin-left: 3px;
	border: black solid 1px;
    background-color: orangered;
    color: blanchedalmond;
    border-radius: 20%;
    width: 25px;
    height: 30px;
}
.notice_paging > span:hover{
	background-color: black;
    color: orangered;
}

/**********************************************
	팝업콘텐트
**********************************************/
/* .notice_pan{ */
/* 	position: fixed; */
/*     left: 0; */
/*     top: 0; */
/*     z-index: 999; */
/* } */
.notice_Popup{
    
    position: fixed;
    display: none;
    z-index: 1005; 
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.8);
/*     background-color: gray; */
    justify-content: center;
/*     overflow-x: hidden; */
}

.notice_textContainer{
	position: absolute;
    left: 10%;
    top: 0;
    width: 80%;
    height: 100vh;
    background-color: white;
    overflow: scroll;
    color: black;
    overflow-x: hidden;
        box-shadow: 0 0 15px rgb(0 0 0 / 50%);
}

.notice_textContainer > div{
    margin-left: 10px;
}
.notice_textContainer > :first-child{
   margin-top: 10px;
   position: relative;
}
.notice_PopupTitle{
    margin-top: 20px;
    font-size: 40px;
}

.notice_PopupTop{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    border: solid 1px blueviolet;
    height: 100px;
}
.notice_PopupTop > :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice_PopupTop > :nth-child(2){
    display: grid;
    grid-template-rows: 40% 20% 40%;
}
.notice_PopupTop > :nth-child(3){
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice_cancel{
    position: fixed;
    width: 5vw;
    height: 5vw;
    top: 20px;
    right: 2.5vw;
    background-color: #b1b1b1;
    color: #383838;
    opacity: 0.7;
    z-index: 1300;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.notice_cancel>span{
    font-size: 50px;
}

#outlinedIcon{
    z-index: 2000;
    font-size: 50px;
    filter: invert(8%) sepia(95%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);   
}