@charset "UTF-8";


body {
	background-image: url(../files/back4.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
  	overflow-x: hidden;  
}
.qna_logo {
  position: relative;
  top: 100px;
  width: 100%;
  left: 160px;
  
}
tr {
  text-align: center;
}

#qnaTable {
  position: relative;
  top: 200px;
  left: 160px;
  width: 80%;

  
}
table {
	border-bottom: 1px solid gray;
}

.search_op {
 	position: relative;
 	top: 190px;
	left: 1100px;
  	padding-bottom: 5px;
  	vertical-align: middle;
  
}
.search_text {
  position: relative;
  top: 190px;
  left:1100px;
  height: 25px;
  width: 230px;
  vertical-align: middle;
}
.search_btn {
	position:relative;
  	top: 190px;
  	left: 1105px;
 	margin-bottom: 15px;
  	width: 85px;
}
.write_btn {
  position: relative;
  top:200px;
  left: 1420px;
}

.qna_head {
  background-color: skyblue;
}