<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kgitbank.travelShare.mapper.AdminNoticeMapper">
  
	<select id="getNoticesAll" resultType="com.kgitbank.travelShare.model.NoticeModel">
		SELECT notice_id, user_nickName, user_imgurl, notice_title, notice_text, notice_lookupcnt, notice_date 
		FROM notices INNER JOIN user_info USING ( user_id ) order by notice_id desc
	</select>
	
	<select id="getBoardsAll" resultType="com.kgitbank.travelShare.model.BoardModel">
		SELECT * FROM main_board order by board_id desc
	</select>
	
	<select id="getNoticeOne" resultType="com.kgitbank.travelShare.model.NoticeModel">
		SELECT 	notice_id, user_nickName, user_imgurl, notice_title, notice_text, notice_lookupcnt, notice_date 
		FROM notices INNER JOIN user_info USING ( user_id ) WHERE notice_id=${num}
	</select>
	
	<select id="getBoardOne" resultType="com.kgitbank.travelShare.model.BoardModel">
		SELECT * FROM main_board WHERE board_id=${num}
	</select>
	
	<select id="getNoticeId" resultType="int">
		SELECT max(notice_id) FROM notices
	</select>
	
	<select id="getNoticesAllSearching" resultType="com.kgitbank.travelShare.model.NoticeModel">
		SELECT notice_id, user_nickName, user_imgurl, notice_title, notice_text, notice_lookupcnt, notice_date 
		FROM notices INNER JOIN user_info USING ( user_id ) WHERE notice_title like '%${name}%' order by notice_id desc
	</select>
	
	<select id="getBoardsAllSearching" resultType="com.kgitbank.travelShare.model.BoardModel">
		SELECT * FROM main_board WHERE board_title like '%${boardName}%' order by board_id desc
	</select>

    <insert id="insertAdminNotice">
  	  INSERT INTO notices VALUES(${notice_id},${user_id},'${notice_title}','${notice_text}',${notice_lookupcnt},current_date)
	</insert>
	
	<delete id="deleteAdminNotice">
  	  DELETE FROM notices WHERE notice_id=${num}
	</delete>
	
	<delete id="deleteBoardNotice">
  	  DELETE FROM main_board WHERE board_id=${num}
	</delete>
	
	<update id="updateAdminNotice">
  	  UPDATE notices SET notice_title = '${notice_title}',notice_text = '${notice_text}' where notice_id=${notice_id}
	</update>
	
	<update id="updateNoticeLookup">
  	  UPDATE notices SET notice_lookupcnt = '${notice_lookupcnt}' where notice_id=${notice_id}
	</update>
	
	<select id="getBoardsamplePaging" resultType="com.kgitbank.travelShare.model.AdminNotice">
		SELECT board_id, user_name, board_name, area 
		FROM (SELECT ROWNUM AS RNUM, board_id.*
        FROM boardsample board_id) WHERE RNUM BETWEEN #{startnum } AND #{endnum }-1
	</select>
	
	<select id="getMainBestPlace" resultType="com.kgitbank.travelShare.model.LikeViewModel">
		select * from (SELECT * FROM like_view order by LIKE_CNT DESC) INNER JOIN user_info USING(user_id) where rownum <![CDATA[<]]> 5
	</select>

	<select id="findSido" resultType="com.kgitbank.travelShare.model.BoardModel">
		SELECT * FROM main_board WHERE SIDO = '${Searching_content}'
	</select>
	<select id="findGungu" resultType="com.kgitbank.travelShare.model.BoardModel">
		SELECT * FROM main_board WHERE SIGUNGU like '${Searching_content}'
	</select>
</mapper>