<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kgitbank.travelShare.mapper.QnaMapper">
	
	<select id="qna_list" resultType="com.kgitbank.travelShare.model.QnaVO">
		SELECT * FROM qna_guide order by qno desc
	</select>
	<select id="getQno" resultType="int">
		SELECT max(qno) FROM qna_guide
	</select>
	
	<select id="getWriter" resultType="com.kgitbank.travelShare.model.User">
		SELECT user_nickname FROM user_info WHERE user_id = ${user_id}
	</select>
	
	<insert id="qna_write" parameterType="com.kgitbank.travelShare.model.QnaVO">
		INSERT INTO qna_guide(qno,title,writer, content,regdate) VALUES(#{qno}, #{title}, #{writer}, #{content},CURRENT_DATE)
	</insert>
	
	<select id="qna_view" parameterType="int" resultType="com.kgitbank.travelShare.model.QnaVO">
		SELECT qno, title,writer, content, regdate, viewcnt FROM qna_guide WHERE qno = #{qno}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="qna_modify" parameterType="com.kgitbank.travelShare.model.QnaVO">
		UPDATE qna_guide SET title = #{title}, content = #{content}, writer = #{writer}
		WHERE qno = #{qno}
	</update>
	<!-- 게시물 삭제 -->
	<delete id="qna_delete" parameterType="int">
		DELETE FROM qna_guide WHERE qno = #{qno}
	</delete>
	
	<!-- 게시물 총 개수 -->
	<select id="qna_count" resultType="int">
		SELECT COUNT(qno) FROM qna_guide
	</select>
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="qna_listPage" parameterType="hashMap" resultType="com.kgitbank.travelShare.model.QnaVO">
		SELECT qno, title, writer, regdate, viewcnt FROM qna_guide
		ORDER BY qno desc
			limit #{displayPost}, #{postNum}
	</select>
</mapper>