<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kgitbank.travelShare.mapper.QnaMapper">
	
	<select id="qna_list" resultType="com.kgitbank.travelShare.model.QnaVO">
		SELECT * FROM qna_guide order by qna_id desc
	</select>
	<select id="getQno" resultType="int">
		SELECT max(qna_id) FROM qna_guide
	</select>
	
	<select id="getWriter" resultType="com.kgitbank.travelShare.model.User">
		SELECT user_nickname FROM user_info WHERE user_id = ${userid}
	</select>
	
	<insert id="qna_write" parameterType="com.kgitbank.travelShare.model.QnaVO">
		INSERT INTO qna_guide(qna_id,title,writer, content,regdate, user_id, cs_open) VALUES(#{qna_id}, #{title}, #{writer}, #{content},CURRENT_DATE, #{user_id},#{cs_open})
	</insert>
	
	<select id="qna_view" parameterType="int" resultType="com.kgitbank.travelShare.model.QnaViewModel">
		SELECT qna_id, title,writer, content, regdate, user_id, user_nickName, user_imgurl, user_position, 
		viewcnt FROM qna_guide INNER JOIN user_info USING ( user_id ) WHERE qna_id = #{qna_id}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="qna_modify" parameterType="com.kgitbank.travelShare.model.QnaVO">
		UPDATE qna_guide SET title = #{title}, content = #{content}, cs_open = #{cs_open}
		WHERE qna_id = #{qna_id}
	</update>
	<!-- 게시물 삭제 -->
	<delete id="qna_delete" parameterType="int">
		DELETE FROM qna_guide WHERE qna_id = #{qna_id}
	</delete>
	
	<!-- 게시물 총 개수 -->
	<select id="qna_count" resultType="int">
		SELECT COUNT(qna_id) FROM qna_guide
	</select>
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="qna_listPage" parameterType="hashMap" resultType="com.kgitbank.travelShare.model.QnaVO">
		SELECT qna_id, title, writer, regdate, viewcnt FROM qna_guide
		ORDER BY qna_id desc
			limit #{displayPost}, #{postNum}
	</select>
	
	
	

	<!-- 조회수 올리기 -->
	<update id="qna_viewcntup">
		UPDATE qna_guide SET viewcnt = '${viewcnt}' where qna_id=${qna_id}
	</update>
	<!-- qna 댓글 삽입 및 조회 -->
	<insert id="qna_insertComment">
		INSERT INTO board_comment(comment_id, user_id, comment_text, comment_date, qna_id) VALUES (comment_seq.nextval, #{user_id}, #{comment_text}, CURRENT_DATE, #{qna_id})
	</insert>
	<select id="qna_selectComment" resultType="com.kgitbank.travelShare.model.CommentInfo">
		SELECT * FROM board_comment INNER JOIN user_info USING(user_id) WHERE qna_id = #{qna_id} ORDER BY board_comment.comment_date desc
	</select>
	<select id="qna_getUserPosition" resultType="com.kgitbank.travelShare.model.User">
		SELECT * FROM user_info WHERE user_id = #{user_id}
	</select>
	
	<!-- 페이징 -->
	<select id="getQnaPaging" resultType="com.kgitbank.travelShare.model.QnaViewModel">
		SELECT qna_id, title,writer, content, regdate, cs_open, user_id, user_nickName, user_imgurl, user_position, 
		viewcnt FROM qna_guide INNER JOIN user_info USING ( user_id ) order by qna_id desc
	</select>
	
	<!-- 검색 -->
	<select id="getQnaSearching" resultType="com.kgitbank.travelShare.model.QnaViewModel">
		SELECT qna_id, title,writer, content, regdate, cs_open, user_id, user_nickName, user_imgurl, user_position, 
		viewcnt FROM qna_guide INNER JOIN user_info USING ( user_id ) where title like '%${qnaTitle}%' order by qna_id desc
	</select>

</mapper>