@charset "UTF-8";

* { 
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box; 
}

header {
	position: fixed;
  	width: 100%;
  	z-index: 999;
  	 	
}
.userImg {
	border-radius: 100%; 
  	width: 40px; 
  	height: 35px;
  	padding-right: 5px;
  	margin-top: 20px;
}

.logo a {
  font-size: 35px;
  color: blanchedalmond;
  text-decoration: none;
}
nav { 
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center; 
/*   min-height: 5vh;  */
  background-color: transparent;
   
  font-family: "Poppins", sans-serif;
}

.down {
  background-color:white;
  box-shadow: 0px 0px 5px black;
  color: black;
   
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}
.material-icons-outlined {
	font-size: 30px;
}

.nav-links { 
  width: 40%; 
  display: flex; 
  justify-content: space-around;
  padding-right: 80px;
}
.nav-links li {
  list-style: none; 
  }
.nav-links a {
  color: blanchedalmond;
  text-decoration: none; 
  letter-spacing: 3px; 
  font-weight: bold; 
  font-size: 20px; 
  }
.nav-links a:hover {
  color: blanchedalmond;
  opacity: 0.4;
}
.burger { 
  display: none;
  cursor: pointer;
  margin-right: 10px; 
} 
.burger div {
  width: 25px; 
  height: 3px; 
  background-color: blanchedalmond; 
  margin: 5px; 
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links { 
    width: 60%;
    
  } 
}
@media screen and (max-width: 768px) { 
  body { 
    overflow-x: hidden; 
  } 
 .nav-links  {
    position: absolute; 
    top: 53px; 
    right: 0; 
    height: 60vh; 
    background-color: #f7f5f8; 
    flex-direction: column;
    align-items: center; 
    width: 30%; 
    transform: translateX(100%); 
     padding-right: 0px;padding-right: 0px;
  }
  

  .nav-links a {
  	color: black;
  }
  .nav-links li { 
    opacity: 0;
    color: black;
     
  } .burger { 
    display: block; 
  } .nav-active { 
    transform: translateX(0%); 
  }
 
  @keyframes navLinkFade { 
    from { 
      opacity: 0; 
      transform: translateX(5px);
    } to { 
      opacity: 1; 
      transform: translateX(0);
    } 
  } 
} 
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); 
} 
.toggle .line2 { 
  opacity: 0; 
} 
.toggle .line3 { 
  transform: rotate(45deg) translate(-5px, -6px); 
}