@charset "EUC-KR";

#membership_table{
	
	margin-left: 37%;
}

.member_text {
	text-align: left;
}
 
#member_email {
	width: 400px;
	height:45px;
	font-size:20px;
}

.member_password{
	width: 400px;
	height:45px;
	font-size:20px;
}

#member_nickname {
	width: 400px;
	height:45px;
	font-size:20px;
}

#member_name {
	width: 400px;
	height:45px;
	font-size:20px;
}

#member_phone {
	width: 310px;
	height:45px;
	font-size:20px;
	margin-bottom: 10px;
}

#phoneCheckInput {
	width: 400px;
	height:45px;
	font-size:20px;
}



#member_gender {
	height:45px;
	width: 401px;	
}


#member_sub2 {
	height:45px;
	width: 400px;	
}

#member_year{
	height:45px;
	width: 130px;
	font-size:20px;	
}

#member_month{
	text-align: center;
	height: 45px;
	width: 130px;	
	font-size:20px;
}

#member_day{
	height:45px;
	width: 106px;
	font-size:20px;	
}

#user_add_code{
	margin-top : 20px;
	height:45px;
	width: 196px;
	font-size:20px;	
	margin-bottom : 10px;

}

#user_add_city{
	
	height:45px;
	width: 362px;
	font-size:20px;	
	margin-bottom : 10px;
	
}

#user_add_detail{
	margin-bottom : 20px;
	height:45px;
	width: 400px;
	font-size:20px;	
}

#add_code_search {
	background-color: orange;
	width: 110px;
	height: 45px;
	margin-left: 20px;
}

#address_warning{
	text-align: left;
}

#phone_check{
	width: 70px;
	height: 45px;
	margin-left: 20px;
}










