@charset "EUC-KR";

#membership_table{
	
	margin-left: 35%;
}

.member_text {
	text-align: left;
}
 
#member_email {
	width: 500px;
	height:45px;
	font-size:20px;
}

.member_password{
	width: 500px;
	height:45px;
	font-size:20px;
}

#member_nickname {
	width: 500px;
	height:45px;
	font-size:20px;
}

#member_name {
	width: 500px;
	height:45px;
	font-size:20px;
}

#member_phone {
	width: 500px;
	height:45px;
	font-size:20px;
}



#member_gender {
	height:45px;
	width: 501px;	
}


#member_sub2 {
	height:45px;
	width: 509px;	
}

#member_year{
	height:45px;
	width: 152px;
	font-size:20px;	
}

#member_month{
	text-align: center;
	height: 50px;
	width: 152px;	
	font-size:20px;
}

#member_day{
	height:45px;
	width: 162px;
	font-size:20px;	
}

#user_add_code{
	margin-top : 20px;
	height:45px;
	width: 300px;
	font-size:20px;	
	margin-bottom : 10px;

}

#user_add_city{
	
	height:45px;
	width: 463px;
	font-size:20px;	
	margin-bottom : 10px;
	
}

#user_add_detail{
	margin-bottom : 20px;
	height:45px;
	width: 501px;
	font-size:20px;	
}

#add_code_search {
	background-color: orange;
	width: 100px;
	height: 45px;
}













