html {
	position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}


a {
    text-decoration: none;
 
}

a:link {
	color: gray;
}

a:visited { 
	color : gray;
 }
 
#main {
	position : absolute;
	top: 50px;
}


#user_info{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 0.3fr); grid-gap: 2px;
    border-top: rgb(232, 233, 233) 1px solid;
    border-bottom: rgb(232, 233, 233) 1px solid;
    background-color: rgb(245, 245, 245);
  
}

#user_img_div {
	width: 200px;
 
}

#user_img {
	width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 497px;
}


.user_name{
	margin-top: 50px;
	margin-left: 487px;
}

#user_name {
    width: 70vw;
 
 
}


#user_zim {
    margin-top: 50px;
    color: black;
    
}



#board_name {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr); grid-gap: 2px;
    height: 65px;
    border-top: rgb(232, 233, 233) 1px solid;
    border-bottom: rgb(232, 233, 233) 1px solid;
}

#board_name > div {
    font-size: 30px;
 
}

#my_travel {
    width: 300px;
    margin-left: 495px;
    margin-top: 10px;
    text-align: center;
 
}

#my_zim {
    margin-top: 10px;
    margin-left: 200px;
    width: 300px;
    text-align: center;
}

.loing_container{
	width: 100vw;
	margin-left: -70px
}