html {
	position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}


a {
    text-decoration: none;
 
}

a:link {
	color: gray;
}

a:visited { 
	color : gray;
 }
 
#main {
	position : absolute;
	top: 50px;
}


#user_info{
   height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    border-top: rgb(232, 233, 233) 1px solid;
    border-bottom: rgb(232, 233, 233) 1px solid;
    background-color: rgb(245, 245, 245);
}

#user_img_div {
	width: 200px;
    min-width: 200px;
    display: flex;
}

#user_img {
	width: 150px;
    height: 150px;
    margin-left: auto;
    border-radius: 100px;
}

#user_container {
	display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    width: 1080px;
    margin: auto;
}

.user_name{
	margin-top: 30px;
	width: 500px;
	margin-left: 20px;
}

#user_name {
    min-width: 200px;
}


#user_zim {
    margin-top: 50px;
    color: black;
    min-width: 200px;
}


#user_profile{
    min-width: 200px;
}

#user_button {
    color: rgb(125, 136, 53);
    border-radius: 30px 30px 30px 30px;
    border: solid 2px rgb(163, 170, 112);
    background-color: rgb(245, 245, 245);
    width: 110px;
    font-size: 15px;
    height: 40px;
    margin-top: 130px;
    margin-left: 180px;
    cursor : pointer;
   
}

#board_name {
  	display: flex;
    align-items: center;
    height: 65px;
    border-top: rgb(232, 233, 233) 1px solid;
    border-bottom: rgb(232, 233, 233) 1px solid;
}

#board_name_container {
	display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    width : 1080px;
    margin: auto;
}

#board_name > div {
    font-size: 30px;
 
}

#my_travel {
    width: 300px;
    text-align: center;
 
}

#my_zim {
    width: 300px;
    text-align: center;
}

.loing_container{
	width: 100vw;
}