#info_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid red;
    margin-left: 25%;
    margin-right: 25%;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}


#info_main > * {
    margin: 20px;
    width: 90%;
    height: 300px;
    border: 1px solid black;
}

#profile {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

#user_img{
    margin-left: 10%;
    width: 100px;
    height: 100px;
}

#profile_modify {
    width: 70px;
    height: 40px;
    margin-left: 10%;
    
}

#nickname {
    position: fixed;
    margin-top: 40px;
    margin-left: 20px;
}